Source: carcode
Section: python
Priority: extra
Maintainer: Carlos Daniel Ruvalcaba Valenzuela <clsdaniel@unknown>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: carcode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.4.1), python-pygame (>= 1.7.0)
Description: Learn Python programming using an animated car
 carcode is an experiment in programming education.
 The idea is to give beginning programmers carcode, 
 which provides an animated car they can drive around 
 the screen either using the keyboard, or 
 programmatically through a simple API.
